*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    background-color: aliceblue;
    width: 100%;
    margin-top: 60px;
}
h1{
    color: #ED553B;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    
}

h2 {
	color:white;
	
}

p {
	color:#173F5F;
	
}


.textbox {
   margin-top:40px;
}


.chicken1{
    border: 1px solid black;
    background-color: #D3D3D3;
    font-size: 1em;
    height: 220px;
    margin: 10px;
    padding: 10px;
}
 
.sushi1{
    border: 1px solid black;
    background-color: #D3D3D3;;
    font-size: 1em;
    height: 220px;
    margin: 10px;
    padding: 10px;
}

.topbox1{
    width: 120px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    position: relative;
    top: -11px;
  	right:-11px;
 	float:right;
    background-color: #20639B;
    font-size:22px;
    color:white;
    font-family:Arial;
} 



  
  
  @media (min-width: 1200px) {
    .chicken1,  .sushi1{
         float: left; 
    }
    .chicken1 {
      width: 31%;
    }
 
    .sushi1 {
      width: 31%;
    }
    
    .topbox1{
    width: 120px;
  	right:-11px;
 	float:right;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    position: relative;
    top: -11px;
    background-color: #20639B;
	}
    
    
  }

  
  @media (min-width: 992px) and (max-width: 1199px) {
    .chicken1, .sushi1{
        float: left; 
  	}
    .chicken1 {
      width: 48%;
    } 
    .sushi1 {
      width: 98%;
    }
    
   
  
  }